---
services:
  plex:
    image: linuxserver/plex
    container_name: plex
    restart: always
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Auckland/Pacific
      - VERSION=docker
      - PLEX_CLAIM={{ plex_claim }}
    volumes:
      - /opt/plex:/config
      - /mnt/nfs-media:/mnt/nfs-media
      - /mnt/local-media:/mnt/local-media
    devices:
      - /dev/dri:/dev/dri # for hardware transcoding

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Auckland/Pacific
    volumes:
      - /opt/tautulli:/config
    ports:
      - 8181:8181
    restart: unless-stopped

  plex-meta-manager:
    image: lscr.io/linuxserver/plex-meta-manager:latest
    container_name: plex-meta-manager
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PMM_CONFIG=/config/config.yml #optional
      - PMM_TIME=03:00 #optional
      - PMM_RUN=False #optional
      - PMM_TEST=False #optional
      - PMM_NO_MISSING=False #optional
    volumes:
      - /opt/plex-meta-manager:/config
    restart: unless-stopped

  adguardhome:
    image: adguard/adguardhome
    ports:
      - 53:53/tcp # plain dns over tcp
      - 53:53/udp # plain dns over udp
      - 80:80/tcp # http web interface
      - 3000:3000/tcp # initial setup web interface
    volumes:
      - opt/adguardhome/conf:/opt/adguardhome/conf # app configuration
      - opt/adguardhome/work:/opt/adguardhome/work # app working directory