---
services:
  plex:
    image: linuxserver/plex
    container_name: plex
    restart: always
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Auckland/Pacific
      - VERSION=docker
      - PLEX_CLAIM={{ plex_claim }}
    volumes:
      - /opt/plex:/config
      - /mnt/nfs-media:/mnt/nfs-media
      - /mnt/local-media:/mnt/local-media
    devices:
      - /dev/dri:/dev/dri # for hardware transcoding